@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.specialities {
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-bottom: 70px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.specialities__programe-type--list {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: space-between;
  }
}

.specialities__programe-type--item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.specialities__programe-type--btn {
  font-family: $primary-font;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #dee6ee;

  &.active {
    background-color: $accent-color;
    box-shadow: 0px 0px 40px 0px #5656564d;
    color: $light-font-color;
    font-weight: 700;
  }

  border-radius: 18px;
  border-color: transparent;

  &:hover,
  &:focus {
    border: 2px solid $accent-color;

    @media screen and (min-width: 1200px) {
      border-width: 3px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 339px;
  }

  @media screen and (min-width: 1200px) {
    width: 580px;
    font-size: 25px;
  }
}

.specialities__diet-type--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  // gap: 500px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.specialities__diet-type--item {
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  width: 33%;
  margin: 0 auto;
  text-align: center;

  &:first-child .specialities__diet-type--btn {
    padding: 0;
  }

  .specialities__diet-type--btn {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    font-size: 10px;
    width: auto;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.1em;
  }
}

.specialities__diet-type--btn {
  width: 100%;
  border: none;
  background-color: #12558400;
  padding-top: 9px;
  padding-bottom: 9px;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.active {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.specialities__diet-type--span {
  display: block;
  font-family: $secondary-font;
  font-size: 10px;
  font-weight: 400;
  line-height: 1em;
  margin-top: 3px;
  @media screen and (min-width: 768px) {
    margin-top: 4px;
    font-size: 8px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21em;
  }
}

// -----------------------------------------
.specialities__diet--descr {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }
}
.specialities__diet--list {
  //   width: 100%;
  padding-bottom: 40px;
  // @media screen and (min-width: 768px) {
  //   padding-bottom: 0;
  // }
}

.specialities__diet-descr--item {
  display: none;
}
.specialities__diet-descr--item.active {
  display: block;
}

.specialities__diet-descr--priceBox {
  font-family: $primary-font;
  width: 100%;

  // @media screen and (min-width: 768px) {
  //   width: 222px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 380px;
  // }
}

.specialities__diet-definition {
  width: 100%;
  border-radius: 30px;
  background-color: $accent-color;
  color: $light-font-color;
  padding: 20px 30px 25px 30px;
  // @media screen and (min-width: 768px) {
  //   padding: 18px 30px 22px 30px;
  // }
  @media screen and (min-width: 1200px) {
    padding: 30px 50px 39px 50px;
  }
}

.specialities__diet-defenition--title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 11px;
  @media screen and (min-width: 1200px) {
    font-size: 25px;
    margin-bottom: 19px;
  }
}

.specialities__diet-defenition--span {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 12px;
  font-family: $secondary-font;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.specialities__diet-defenition--text {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2em;
  font-family: $secondary-font;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.specialities__diet-price--list {
  padding: 20px 22px 25px 22px;
  // @media screen and (min-width: 768px) {
  //   padding: 30px 22px 30px 22px;
  // }
  @media screen and (min-width: 1200px) {
    padding: 50px 20px 50px 20px;
  }
}

.specialities__diet-price--item {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2em;
  color: $primary-color;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  // @media screen and (min-width: 768px) {
  //   font-size: 8px;
  //   &:not(:last-child) {
  //     margin-bottom: 8px;
  //   }
  // }
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.specialities__diet-price {
  &--descr {
    width: 85px;
    @media screen and (min-width: 1200px) {
      width: 125px;
    }
  }
}
.specialities__diet-price--item:not(:last-child) {
  & .specialities__diet-price--old {
    text-decoration: line-through;
  }
}

.specialities__diet-price--btn {
  font-family: $primary-font;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.34em;
  color: $light-font-color;
  padding: 9px 41px 6px 39px;
  background-color: $accent-color;
  border-radius: 190px;
  border-color: transparent;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    padding: 14px 69px 11px 68px;
  }
}

//------------------schedule------------------
// .specialities__schedule--box {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }
// }

.specialities__schedule-day--list {

  display: flex;
  background-color: #f5faff;
  border-radius: 30px;
  justify-content: center;
  box-shadow: 0px 0px 40px 0px #5656564d;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  padding-top: 0;
  // @media screen and (min-width: 768px) {
  //   width: 456px;
  // }
  @media screen and (min-width: 1200px) {
    width: 780px;
  }
}

.specialities__schedule-day--item {
  width: calc((100%) / 7);
  text-align: center;
}

.specialities__schedule-day--btn {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1em;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 13px;
  background-color: transparent;
  border: none;

  &.active {
    color: $accent-color;
    font-size: 18px;
  }
  // @media screen and (min-width: 768px) {
  //   font-size: 10px;
  //   padding-top: 12px;
  //   padding-bottom: 12px;
  //   &.active {
  //     color: $accent-color;
  //     font-size: 10px;
  //   }
  // }
  @media screen and (min-width: 1200px) {
    font-size: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    &.active {
      color: $accent-color;
      font-size: 25px;
    }
  }
}

//==============menu=================

.specialities__schedule-menu--box {
  font-family: $primary-font;
  width: 100%;
  box-shadow: 0px 0px 40px 0px #5656564d;
  border-radius: 30px;
  padding: 20px 20px 25px 20px;
  font-family: $secondary-font;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    padding: 17px 30px 23px 30px;
    margin-top: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 0px 40px 0px;
  }
}

.specialities__schedule-menu--item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.specialities__schedule-menu--mealsBox {
  display: flex;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 0;
  }
}

.specialities__schedule-menu--meals {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1em;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    font-size: 10px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.specialities__schedule-menu--time {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1em;
  @media screen and (min-width: 768px) {
    font-size: 8px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.specialities__schedule-menu-name--item {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1em;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 295px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    width: 500px;
  }
}

.specialities__schedule-menu--span {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
