
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$primary-font: 'Comfortaa', sans-serif;;
$secondary-font: 'Poppins', sans-serif;

$primary-color: #020202;
$light-font-color:#f5faff;
$dark-font-color:#000;
$accent-color: #64D370;

$invalid-form-color:#FE3666;
$invalid-phone-color:#F87676;
$close-btn-hover: #F35353;

$background-color: #f5faff;
$dark-bg-color: rgba(2, 2, 2, 0.7);
$backdrop-color: rgba(2, 2, 2, 0.85);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
$letter-spacing: 0.025em;